.PMSTool_Box {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999999999;
    top: calc(-100% - 10px);
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    transition: all ease .5s;
}

.PMSTool_Box .PMSTool_Header {
    flex-shrink: 0;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
}

.PMSTool_Box .PMSTool_Header .PMSTool_Close {
    cursor: pointer;
    font-size: 18px;
    padding: 0 4px;
    float: right;
}

.PMSTool_Box .PMSTool_Header .PMSTool_Close svg {
    height: 20px;
    color: #337ab7;
    transition: all ease .3s;
}

.PMSTool_Box .PMSTool_Header .PMSTool_Close:hover svg {
    color: #286090;
    transition: all ease .3s;
}


.PMSTool_Box .PMSTool_Body {
    flex-grow: 2;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.PMSTool_expand_Btn {
    position: fixed;
    z-index: 999999999;
    bottom: 100px;
    right: 0;
    border: none;
    border: 1px solid #2e6da4;
    padding: 4px;
    color: #fff;
    border-radius: 4px 0 0 4px;
    background: #337ab7;
    cursor: pointer;
    transition: all ease .3s;
}

.PMSTool_expand_Btn svg {
    color: #fff;
    width: 20px;
    height: 20px;
}

.PMSTool_expand_Btn:hover {
    background: #286090;
    transition: all ease .3s;
}

#PMSTool_Iframe {
    width: 100%;
    height: 100%;
    border: none;
}